// new design
$white: #FFFFFF;

//shadows
$dark: #273258; //$blue-3;
$light: #8395A7; //$blue-5;
$lighter: #C8D6E5; //$blue-4
$lightest: #F5F9FD; //$blue-2

//Theme
$primary: #364FCC; //$blue-6
$primary-darker: #2c3c8a; //blue 8
$primary-darkest: #2a3775; //blue 9
$highlight: #49BFF2; //$blue-7
$highlight-darker: #2CA3D6;
$highlight-darkest: #2C8AB3;
$primary-light: #E4F5FD; //$blue-1

$true: #43D092;
$green: #43D092;
$green-darker: #49ad21;

//True/False
$true-light: #E3F8EF;
$false: #D0435C;
$red: #FF0000;
$false-light: #F8E3E7;
$invited: #ddf3f5;

$green: #a4f0cf;
$grey-lighter: #fbfbfb;
$grey-light: #f5f5f5;
$grey-border: #e2e2e2;
$grey-border-lighter: #e9e9e9;
$background-grey: #f6f6f6;

$blue-lighter: #f5f9fd;
$blue-light: #e7eefe;

$disabled: #bcbcbc;

$chat-right: #0085fe;
$chat-left: #dddddd;
$chat-left-text: #787878;

$black: #333333;
$footer-page-heading: #0741d2;
$completed: #f2f2f2;
$isNew: #69c9f3;