@import './_colors';

.footer {
    max-width: 1900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 35px;
    box-sizing: border-box;

    &-text {
        font-size: 14px;
    }

    &-container {
        background-color: #fafafa;
    }

    &-link{
        font-weight: bold;
    }

}