<div  class="footer-container">
    <div class="footer">
        <div class="footer-left">
            <p class="footer-text">Travel © 2021. All Rights Reserved.</p>
        </div>
        <div class="footer-right">
            <p class="footer-text">
                <a class="link footer-link" target="_blank" href="https://www.booking.com/destination/country/rs.sr.html">Booking.com<img src="../../assets/login-link.svg" width="10px" height="10px" alt="external link"></a>
            </p>
        </div>
    </div>
</div>
