
  <h2 class="content-side-left-heading">Za pristup dodatnim informacijama, molimo vas da se logujete</h2>
  <form class="login-form" [formGroup]="form">
    <mat-form-field class="left-form-field" appearance="fill">
        <mat-label>Unesite korisničko ime ili mail</mat-label>
        <input matInput placeholder="Korisničko ime" value="username"  formControlName="usernameOrEmail">
      </mat-form-field>
     <mat-form-field class="left-form-field" appearance="fill">
        <mat-label>Unesite password</mat-label>
        <input matInput placeholder="Password" value="Odredište"  formControlName="password">
      </mat-form-field>
    <!-- <button [ngClass]="{'button-disabled': form.invalid}"
            class="button button-gradient-blue button-medium"
            (click)="onLogin()">ULOGUJ SE</button> -->
  </form>
