<div class="login-container">
    <h2 >Za pristup dodatnim informacijama, molimo vas da se logujete</h2>
    <form class="login-form" [formGroup]="form">
      <mat-form-field class="login-form-field" appearance="fill">
          <mat-label>Unesite korisničko ime ili email</mat-label>
          <input matInput placeholder="Korisničko ime(email)" formControlName="usernameOrEmail">
        </mat-form-field>
       <mat-form-field class="login-form-field" appearance="fill">
          <mat-label>Unesite šifru</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Šifra" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-flat-button
              color="primary"
              [ngClass]="{'button-disabled': form.invalid}"
              class="button button-gradient-blue button-medium"
              (click)="login()">LOGUJ SE</button>
      <a (click)="openRegistrationPage()">Registruj se</a>
    </form>
</div>

