.login-container {
  padding: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  align-content: center;
  width: 500px;

  &-field {
    margin-top: auto;
    display: block;
  }
}
h2 {
  width: 500px;
}

button {
  margin-right: 10px;
}

a {
  color: rgb(63, 81, 181);
  cursor: pointer;
}
