<div class="header-container">
    <div class="header">
        <div class="side">
            <div class="logo">
            <img src="../../assets/logo.svg" width="80px" height="80px" alt="logo"></div>
            <div class="title">Izaberi svoj smeštaj</div>

        </div>
        <div class="side">
            <span class="example-spacer"></span>
            <div class="divlog" *ngIf="!isLoggedIn">
                <button mat-raised-button color="primary" (click)="openLoginPage()">Uloguj se</button>
            </div>
            <div class="divreg" *ngIf="!isLoggedIn">
                <button mat-raised-button color="primary" (click)="openRegistrationPage()">Registruj se</button>
            </div>
            <div class="divuser" *ngIf="isLoggedIn">
                <button mat-raised-button color="primary" title="Edit profile">{{username}}</button>
            </div>
            <div class="divlout" *ngIf="isLoggedIn">
                <button mat-raised-button color="primary" (click)="logout()">Izloguj se</button>
            </div>
            <!-- <p>Ime -{{username}} </p>
            <p>Log -{{ulogovaoSe}} </p>
            <p>Reg -{{registrovaoSe}} </p> -->
        </div>
    </div>
</div>


