<div class="content-container">
  <div class="content">
    <div class="content-left">
      <p>Pronadji smeštaj</p>
      <form class="left-form">

        <mat-form-field class="left-form-field" appearance="fill">
          <mat-label>Upišite željeno odredište</mat-label>
          <input matInput placeholder="Beograd" value="Odredište">
        </mat-form-field>
      </form>

      <form class="left-form">
        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Izaberite period</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Datum prijavljivanja">
            <input matEndDate placeholder="Datum odjavljivanja">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>


      </form>
      <form class="left-form">
        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Broj gostiju</mat-label>
          <mat-select>
            <mat-option value="one">1 osoba</mat-option>
            <mat-option value="two">2 osoba</mat-option>
            <mat-option value="three">3 osoba</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="left-form">
        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Broj dece</mat-label>
          <mat-select>
            <mat-option value="one">bez dece</mat-option>
            <mat-option value="two">1 dete</mat-option>
            <mat-option value="three">2 dece</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form class="left-form">
        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Izaberite tip smeštaja</mat-label>
          <mat-select>
            <mat-option value="one">Svi tipovi</mat-option>
            <mat-option value="two">Hotel</mat-option>
            <mat-option value="three">Vila</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      
      <app-stars></app-stars>
    </div>
    <div class="content-right">
      <p class="footer-text">

        <a class="link footer-link" target="_blank"
          href="https://www.booking.com/destination/country/rs.sr.html">Booking.com<img
            src="../../assets/login-link.svg" width="10px" height="10px" alt="external link"></a>
      </p>
    </div>
  </div>
</div>