.content {
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  box-sizing: border-box;
  &-left {
    margin-top: auto;
    display: block;
  }
  &-right {
    flex: 1 1 auto;
  }
}
.content-container {
  width: 100%;
  height: 100%;
}
.left-form {
  min-width: 330px;
  max-width: 370px;
  border-right: 1px solid #dddddd;
  width: 100%;
}
.left-form-field {
  display: block;
  padding-bottom: 0 !important;
}

.left-full-width {
  width: 100%;
}
.example-section {
  margin-top: 10px;
  .example-margin {
    margin-right: 10px;
  }
}
