<div class="content-container">
  <div class="content">
    <form class="left-form" [formGroup]="form">
      <div class="content-left">
        <p>Pronadji smeštaj</p>

        <mat-form-field class="left-form-field" appearance="fill">
          <mat-label>Upišite željeno odredište</mat-label>
          <input matInput placeholder="Beograd" value="Odredište">
        </mat-form-field>

        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Izaberite period</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Datum prijavljivanja">
            <input matEndDate placeholder="Datum odjavljivanja">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Broj gostiju(odraslih)</mat-label>
          <mat-select formControlName="numberOfPerson" [(value)]="personNumberMenu[0].id" >
            <div *ngFor="let person of personNumberMenu" >
              <mat-option [value]= "person.id">{{person.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Broj dece</mat-label>
          <mat-select formControlName="numberOfChildren" [(value)]="childrenNumberMenu[0].id">
            <div *ngFor="let child of childrenNumberMenu" >
              <mat-option [value]= "child.id">{{child.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="left-form-field">
          <mat-label>Izaberite tip smeštaja</mat-label>
          <mat-select formControlName="accommondationType" [(value)]="accommodationTypeMenu[0].id">
            <div *ngFor="let type of accommodationTypeMenu">
              <mat-option [value]= "type.id">{{type.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <app-stars></app-stars>

        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="wifi">WiFi</mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="pool">Bazen</mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="spa">Spa</mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="gym">Teretana</mat-checkbox>
        </section>
        <div class="search example-section">
          <button mat-raised-button color="primary" (click)=" onSubmitSearh(form)">Pretraži</button>
        </div>
       

      </div>
    </form>
    <div class="content-right">
      <div *ngFor="let result of results">
        <a (click)="onAccommodationPicked(result)">{{result.name}}</a>
      </div>
      <mat-grid-list cols="3" rowHeight="2:1" *ngFor="let page of pageSize">
         <!--<mat-grid-tile>{{i}}</mat-grid-tile>-->
         <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile> 
      </mat-grid-list>
      <mat-paginator [length]="36"
      [pageSize]="9"
      [pageSizeOptions]="[9, 16, 25, 36]">
      </mat-paginator>
    </div>
  </div>
</div>
