<div class="acc-add-container">
    <h2>Unesite podatke o smeštaju</h2>
    <form class="acc-add-form" *ngIf="form" [formGroup]="form">
      <!-- NAME -->
      <mat-form-field class="acc-add-form-field" appearance="fill">
        <mat-label>Naziv</mat-label>
        <input matInput placeholder="Naziv" formControlName="name" required/>
      </mat-form-field>
      <!-- PRICE -->
      <mat-form-field class="acc-add-form-field" appearance="fill">
        <mat-label>Cena smeštaja</mat-label>
        <input matInput placeholder="Cena" formControlName="price" required/>
      </mat-form-field>
      <!-- DESCRIPTION -->
      <mat-form-field class="acc-add-form-field" appearance="fill">
        <mat-label>Informacije o smeštaju</mat-label>
        <input matInput placeholder="Opis" formControlName="description" required/>
      </mat-form-field>
      <!-- ACCOMMODATION TYPE -->
      <mat-form-field appearance="fill" class="left-form-field">
        <mat-label>Izaberite tip smeštaja</mat-label>
        <mat-select formControlName="accommondationType">
            <div *ngFor="let type of accommodationTypeMenu">
                <mat-option [value]="type.id">{{type.name}}</mat-option>
            </div>
        </mat-select>

      </mat-form-field>
              <!-- STARS -->
              <span class="stars">
                <app-stars></app-stars>
              </span>

      <!-- ADDITIONS -->
      <section class="checkbox-section" *ngFor="let item of allAccomodationServices;let i=index">
        <mat-checkbox *ngIf="item.nameEn!=undefined" 
          class="checkbox-margin" 
          [formControlName]="item.nameEn" 
          [name]="item.name">
          {{item.name}}
        </mat-checkbox>
      </section>



      <!-- CANCELLATION DAYS -->
      <mat-form-field class="acc-add-form-field" appearance="fill">
        <mat-label>Besplatno otkazivanje ukoliko se izvrši </mat-label>
        <input matInput placeholder="0" formControlName="numberOfCancellationDays" />
        <span>dana pre zakazanog termina</span>
      </mat-form-field>
      <!-- PEOPLE NUMBER -->
      <mat-form-field class="acc-add-form-field" appearance="fill">
        <mat-label>Predvidjeno za </mat-label>
        <input matInput placeholder="2" formControlName="numberOfPeople" />
        <span>ljudi</span>
      </mat-form-field>
      
      <div> Adresa
        <!-- STREET-->
        <div class="address">
        <mat-form-field class="registration-form-field" appearance="fill">
            <mat-label>Ulica</mat-label>
            <input matInput placeholder="Ulica" formControlName="street" />
        </mat-form-field>
        <!-- CITY --> 
        <mat-form-field class="registration-form-field" appearance="fill">
            <mat-label>Mesto</mat-label>
            <input matInput placeholder="Mesto" formControlName="city" />
        </mat-form-field>
        <!-- COUNTRY-->
        <mat-form-field class="registration-form-field" appearance="fill">
            <mat-label>Država</mat-label>
            <input matInput placeholder="Država" formControlName="country" />
        </mat-form-field>
        </div>
        <!-- LATITUDE-->
         <mat-form-field class="registration-form-field" appearance="fill">
            <mat-label>Geografska širina</mat-label>
            <input matInput placeholder="Geografska širina" formControlName="latitude" />
        </mat-form-field>
            
        <!-- LONGITUDE-->
        <mat-form-field class="registration-form-field" appearance="fill">
            <mat-label>Geografska dužina</mat-label>
            <input matInput placeholder="Geografska dužina" formControlName="longitude" />
        </mat-form-field>
              <!-- MAP location-->
         <button type="button" md-raised-button color="primary" (click)="openMapAdd()">Nadji lokaciju</button>
      </div>

      <button mat-flat-button color="primary" 
        class="button button-gradient-blue button-medium"  (click)="addAccommodation()">
        Dodaj smeštaj
      </button>
    </form>
  </div>
