.spoljasnji-div {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 940px;
    .content-div {
       display: flex; 
       .column1{
        display: flex; 
        flex: 2 1 0;
        flex-direction: column;
        margin-right: 20px; 
       }
       .column2{
        display: flex; 
        flex: 2 1 0;
        flex-direction: column; 
        margin-right: 20px; 
       }
       .column3{
        display: flex; 
        flex: 1 1 0;
        flex-direction: column; 
       }
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: xx-large;
        font-style: italic;
        text-align: justify;
        margin-bottom: 10px;
    }
    .slider-div {
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep .image-popup {
            box-shadow: none !important;
        }
    }
    .description-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .description {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .price {
        display: flex;
        align-items: center;
    }
    .acc-text-max{
        display: flex;
        align-items: center;
        .acc-data{
            font-style: italic;
        }
    }
    .acc-text-cancel{
        display: block;
        align-items: center;
        .acc-data{
            font-style: italic;
        }
    }
    .adressa-content{
        align-self: flex-start;
        padding-bottom: 20px;
    }
    .info-content{
        align-self: flex-start;
    }
    .acc-map-right{
        align-self: flex-end;
        justify-content:right;
        margin: 20px 0;
    }
    agm-map{
        height: 200px;
        width: 100%;
    }
    .changeButtons{
        display: flex;
        flex-direction: column;
    }

 }
