.registration-container{
    margin: 70px;
    padding: 90px;
}
.registration-form{
    align-content: center;

    &-field{
        margin-top: auto;
        display: block;
    }
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
