@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Inter", sans-serif;');
@include mat-core($custom-typography);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  app-content {
    flex: 1;
  }
}

app-footer {
  margin-top: auto;
}
// regular style toast
@import '~ngx-toastr/toastr';
