<div class="content-right">
    <!-- <div *ngFor="let result of results">
      <a (click)="onAccommodationPicked(result)">{{result.name}}</a>
    </div> -->
    <div class='content-results'>
      <div class='item' *ngFor="let item of results">
        <div class='image'>
          <a (click)="onAccommodationPicked(item)">
            <img mat-card-image class="acc-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </a>
        </div>
        <mat-divider></mat-divider>
        <div class='description'>
        <mat-list role="list">
          <mat-list-item role="listitem" class="acc-name">{{item.name}}&nbsp;&nbsp;&nbsp;
            <div class="stars" *ngFor="let number of [1,2,3,4,5]" >
              <img *ngIf="item.stars < number" src="../../assets/star-empty.svg" width="20px" height="20px" alt="empty star">
              <img *ngIf="item.stars >= number" src="../../assets/star-full.svg" width="20px" height="20px" alt="empty star">
            </div>
          </mat-list-item>
          <mat-card-content ><p class="acc-descriptions">{{item.description}}</p></mat-card-content>
        </mat-list>
        </div>
        <mat-divider></mat-divider>
        <div class='price'>Cena {{item.price}}</div>
      </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
    </mat-paginator>
</div>