.content-right {
    flex-grow: 2;
    a {
        cursor: pointer;
    }
}
.content-results {
    display: flex;
    flex-direction: column;
    .item {
        display: flex;
        justify-content: flex-start;
    }
}
.acc-img {
    width: 300px;
}
.acc-name {
    font-weight: 800;
    font-size: large;
    font-style: italic;
}
.acc-descriptions {
    padding: 20px;
    text-align: justify;
}
.price {
    padding-top: 18px;
}
.image{
    margin: 15px;
}
